.root-layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5.5rem auto 4rem;
  grid-template-areas:
    'header'
    'main '
    'footer';
}

section.header {
  grid-area: header;
}

section.main {
  grid-area: main;
}

section.footer {
  grid-area: footer;
}